@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
/**
/**
 * Clear inner floats
 */

.clear::after {
	content: '';
	display: block;
	clear: both;
}


/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
 .clear::after {
	content: '';
	display: block;
	clear: both;
}
.container {
	max-width: 1320px;
}