@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bs-primary: #D2AD5C;
  --bs-secondary: #D1D5DB;;
  --bs-gray: #B3B3B3;
  --bs-border: #D2AD5C;
  --bs-white: #ffffff;
  --bs-black: #000000;
  --bs-body-font-primary: "Cinzel", serif;
  --bs-font-secondary: "Inter", sans-serif;;
  --bs-body-font-size: 16px;
  --bs-body-bg: #f3f3f3;
  --bs-yellow: #E3E7CD;
  --bs-purple: #02133A;
  --bs-blue:  #23212B;
  --bs-text-light: #A1A3AD;
}